<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110341212641-6nhgk73t3ng03ej81hs9rmaej8l2uda1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110341212641-6nhgk73t3ng03ej81hs9rmaej8l2uda1</string>
	<key>API_KEY</key>
	<string>AIzaSyCK0n7r-IlCpIlV0X-WQEHlk7omKK4OK-g</string>
	<key>GCM_SENDER_ID</key>
	<string>110341212641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newAddition</string>
	<key>PROJECT_ID</key>
	<string>myflutterfirebase-56b67</string>
	<key>STORAGE_BUCKET</key>
	<string>myflutterfirebase-56b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110341212641:ios:346776d5c1a9e9e41beaa0</string>
</dict>
</plist>